:root {

    --color-bg: #E3BDBA;
    --color-text: #16406E;
    --color-styles: #E4E4E6;
}

.navBar {
  width: 100%;
  height: auto;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-text);
}

.month-container,
.week-container {
    width: 25%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    position: relative;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    padding: 0.25rem;
    cursor: pointer;

}

label {
    cursor: pointer;
}

ul {
    position: absolute;
    top: 4rem;
    left: 0;
    list-style: none;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    width: 100%;
    margin-top: 1.5rem;
    display: none;
}

li {
   padding: 0.5rem;
   cursor: pointer;
   transition: all 0.1s ease-in;

}

li:hover {
    transform: scale(1.1);
    margin-left: 1rem;
    font-weight: 700;
}

