*,
*::after,
*::before {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans Ms';

}

:root {

  --color-bg: #E3BDBA;
  --color-text: #16406E;
  --color-styles: #E4E4E6;
}


body {

  font-size: 62.5%;
  background: var(--color-bg);
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;

}